@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: radial-gradient(
    circle farthest-side at 50% 100%,rgba(1, 9, 18, 0),
    rgba(1, 6, 14, 0.6) 36%,
    rgba(1, 14, 29, 0.6) 55%,
    rgba(49, 18, 93, 0.4));
}

/* a {
  color: inherit;
  text-decoration: none;
} */

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

:root {
  --gold: #ffb338;
  --light-shadow: #77571d;
  --dark-shadow: #3e2904;
  overflow-x: hidden !important;
}

* {
  box-sizing: border-box;
}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #707070;
}

@font-face {
  font-family: 'Mr Dafoe';
  src: url('../../public/font/lJwE-pIzkS5NXuMMrFitibI.woff2');
}

.logo {
  font-family: 'Mr Dafoe';
  margin: 0;
  /* font-size: 2.5em; */
  /* margin-top: -0.6em; */
  color: white;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
}

.swiper {
  width: 35vw;
  height: 25vw;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

@font-face {
  font-family: 'Rocher';
  src: url('../../public//font/RocherColorGX.woff2');
}

.grays {
  font-family: 'Rocher';
  color: gray !important;
}

.purples {
  color: purple !important;
  font-family: 'Rocher';
}

.mint {
  color: mintcream !important;
  font-family: 'Rocher';
}

.wrapper {
  /* background: radial-gradient(#272727, #1b1b1b); */
  display: grid;
  grid-template-areas: 'overlap';
  place-content: center;
  text-transform: uppercase;
}
.wrapper > div {
  background-clip: text;  
  -webkit-background-clip: text;
  color: #363833;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 3vw;
  grid-area: overlap;
  letter-spacing: 1px;
  -webkit-text-stroke: 4px transparent;
}
div.bg {
  background-image: repeating-linear-gradient( 105deg, 
    var(--gold) 0% , 
    var(--dark-shadow) 5%,
    var(--gold) 12%);
  color: transparent;
  filter: drop-shadow(5px 15px 15px black);
  transform: scaleY(1.05);
  transform-origin: top;
}
div.fg{
  background-image: repeating-linear-gradient( 5deg,  
    var(--gold) 0% , 
    var(--light-shadow) 23%, 
    var(--gold) 31%);
  color: #1e2127;
  transform: scale(1);
}

.peer {
  box-sizing: border-box;
  outline: 2px solid transparent;
  border: 2px solid white;
  margin: 0 -4px;
}

#mymodal {
  background-color: #131726 !important;
  border-radius: 20px !important;
}

.drawer-toggle~.drawer-content {
  max-height: max-content !important;
  overflow-y: auto;
  z-index: 0;
  grid-column-start: 1;
  grid-row-start: 1;
  overscroll-behavior: contain;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.p-button {
  color: #ffffff;
  background: #06b6d4;
  border: 1px solid #06b6d4;
  padding: 0.5rem 1.25rem !important;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
}

.ReactModal__Overlay {
  background-color: transparent !important;
}